{% extends 'rango/base.html' %}

{% load bootstrap_toolkit %}

{% block title_block %}
    add_category
{% endblock %}

{% block body_block %}

    <form role="form" method="post" id="category_form" action="{% url 'rango:add_category' %}">
        <h2 class="form-signin-heading">Add a Category</h2>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br/>
            {{ field }}<br/>
        {% endfor %}
        <br/>
        <button type="submit" class="btn btn-primary" name="submt">Add Category</button>
    </form>
{% endblock %}