{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        <h1 class="display-3">Rango says...</h1>
        {% if user.is_authenticated %}
            <p class="lead">Hey {{ user.username }}!</p>
        {% else %}
            <p class="lead">Hey there partner!</p>
        {% endif %}
    </div>
    <div class="row marketing">
        {% if categories %}
            <div class="col-lg-6">
                <h2>Most Liked Categories</h2>
                <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            style="border: hidden">
                            <a href="{% url 'rango:show_category' category.slug %}">
                                {{ category.name }}
                                <span class="badge badge-primary badge-pill">
                        {{ category.likes }}
                    </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <strong>There are no categories now</strong>
        {% endif %}
        {% if pages %}
            <div class="col-lg-6">
                <h2>Most viewed Pages</h2>
                <ul class="list-group">
                    {% for page in pages %}
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            style="border: hidden">
                            <a href="{{ page.url }}">
                                {{ page.title }}
                                <span class="badge badge-primary badge-pill">
                                {{ page.views }}
                            </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <strong>There are no pages now</strong>
        {% endif %}
    </div>
    <hr/>
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
{% endblock %}