{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div> Hey there partner!</div>
    {% if categories %}
        <hr/>
        <div>
            <h1>Most Liked Categories</h1>
            <table style="border: hidden" cellpadding="5px">
                <tr align="left">
                    <th>Category</th>
                    <th>Likes</th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <td><a href="{% url 'rango:show_category' category.slug %}">
                            {{ category.name }}
                        </a></td>
                        <td>{{ category.likes }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <strong>There are no categories now</strong>
    {% endif %}
    {% if pages %}
        <hr/>
        <div>
            <h1>Most viewed Pages</h1>
            <table style="border: hidden" cellpadding="5px">
                <tr align="left">
                    <th>Page</th>
                    <th>Views</th>
                </tr>
                {% for page in pages %}
                    <tr>
                        <td><a href="{{ page.url }}">
                            {{ page.title }}
                        </a></td>
                        <td>{{ page.views }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <strong>There are no pages now</strong>
    {% endif %}
    <hr/>
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
{% endblock %}